<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doudou.cn.rxproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".MainActivity">-->

        <!--</activity>-->

        <activity android:name=".TestCustomActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name=".messageData.MessengerActivity">

        </activity>
        <!--进程间的通信  属于可到导出的数据-->
        <service android:name=".messageData.MessengerService" android:process=":remote"
            android:exported="true"
            />
        <!--<service android:name=".MessengerService" android:process=":remote"></service>-->
    </application>

</manifest>